
<div class="container">
  <ng-progress
      [positionUsing]="'center'"
      [direction]="'leftToRightIncreased'"
      [color]="'#4286f4'"
      [trickleSpeed]="500" 
      [thick]="true" 
      [ease]="'easeInSine'"
  ></ng-progress>
  <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="header-login col-lg-12 col-md-12 col-sm-12 row">
                  <div class="menu-user col-md-12">
                  <ul>
                      <li class="cedula col-md-4">{{user.Username}}</li>
                      <li class="update-data col-md-3"><a href="user/update">Actualizar datos</a></li>
                      <!-- <li class="password col-md-3"><a href="user/password">Cambiar clave</a></li> -->
                      <li class="icon col-md-2"><a href="user/logout"><img src="/assets/img/logout.png"></a></li>
                  </ul>
                  </div>
              </div>
              <div class="text-departamento col-lg-4">
                  <h2> Actualizar Datos</h2>
                  <p> Esta plataforma le servirá para contactarse con el equipo administrativo, descargar documentos y
                  consultar las fechas de los giros que se
                  programen según su convocatoria.</p>
              </div>
          </div>
      <div class="departamentos-content container col-md-12">
          <img src="assets/img/titulo_gbe.png" width="340px" height="50px">
          <div class="col-lg-12 col-md-12 col-sm-12 row non-margin non-padding">
              <div class="scolciencias-form-login col-md-12">
                  <form [formGroup]="updateForm" (ngSubmit)="OnSubmit()" class="login-form row">
                      <div class="form-group col-lg-6 col-md-6 col-sm-12">
                          <label>Nombres <span class="form-required" title="Este campo es obligatorio.">*</span></label>
                          <input matInput formControlName="name" required>
                      </div>
                      <div class="form-group col-lg-6 col-md-6 col-sm-12">
                          <label>Apellidos<span class="form-required" title="Este campo es obligatorio.">*</span></label>
                          <input matInput formControlName="last_name"  required/>
                      </div>
                      <br>
                      <div class="form-group col-lg-12 col-md-12 col-sm-12">
                          <button type="submit" [disabled] ='!updateForm.valid'> Guardar </button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>

