<div class="container">
    <img src="assets/img/titulo_gbe.png" width="340px" height="50px">
    <div class="container_dentro">
        <div class="scolciencias-form-login">
            <h1>Bienvenido!!</h1>
            <p>Desde el 2012, COLFUTURO administra diferentes programas académicos nacionales y del exterior. Si usted es candidato o beneficiario deberá registrarse para acceder a todos los servicios.
            </p>
            <form [formGroup]="loginForm" (ngSubmit)="OnSubmit()" class="login-form">
                
                <div class="form-group">
                    <label>Cédula <span class="form-required" title="Este campo es obligatorio.">*</span></label>
                    <input matInput formControlName="username" required>
                    <div *ngIf='username.invalid' class="error">
                        El numero de cédula no es valido
                    </div>
                </div>

                <div class="form-group">
                    <label>Clave <span class="form-required" title="Este campo es obligatorio.">*</span></label>
                    <input matInput formControlName="password" type="password" required/>
                </div>
                <div class="form-group" >
                    <button type="submit" [disabled] ='!loginForm.valid' >INGRESAR</button>
                </div>
            </form>
            <div class="item-list">
                <div>Si olvidó su contraseña, haga&nbsp;<a href="/forgot-password" style="color: #DFBD68;" data-toggle="modal" data-target="#ModalForgotPassword">clic aquí:</a>
                </div>
                <div><a href="/register" style="color: #DFBD68;">Regístrese</a>
                </div>
            </div>
        </div>
    </div>
</div>


  <!-- Modal  ForgotPassword-->
  <div class="modal fade" id="ModalForgotPassword" tabindex="-1" role="dialog" aria-labelledby="ModalForgotPasswordTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Recordar contraseña</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="OnSubmitForgotPassword()" class="login-form row">
                <div class="form-group col-lg-6 col-md-6 col-sm-12">
                  Indícanos tu número de identificación para iniciar con el proceso.
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-12">
                    <label>Identificación: <span class="form-required" title="Este campo es obligatorio.">*</span></label>
                    <input matInput formControlName="username" required>
                    <!-- <div class="form-group col-lg-12 col-md-12 col-sm-12"> -->
                        <button type="submit" [disabled] ='!forgotPasswordForm.valid'> Solicitar </button>
                    <!-- </div> -->
                </div>
                <br>
                
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>


  <!-- Modal  ForgotPassword-->
  <div class="modal fade" id="ModalCahngePassword" tabindex="-1" role="dialog" aria-labelledby="ModalCahngePasswordTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Cambia tu contraseña</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form [formGroup]="ConfirmPasswordForm" (ngSubmit)="OnSubmit()" class="login-form row">
                  <div class="form-group col-lg-6 col-md-6 col-sm-12">
                    A tu correo electrónico fue enviado el código de confirmación.
                  </div>
                  <div class="form-group col-lg-6 col-md-6 col-sm-12">
                      <label>Código: <span class="form-required" title="Este campo es obligatorio.">*</span></label>
                      <input matInput formControlName="code" required>
                      <label>Nuevo Password: <span class="form-required" title="Este campo es obligatorio.">*</span></label>
                      <input matInput formControlName="newPassword" required>
                      <label>Confirmar Password <span class="form-required" title="Este campo es obligatorio.">*</span></label>
                      <input matInput formControlName="confirmNewPassword" required>
                      <!-- <div class="form-group col-lg-12 col-md-12 col-sm-12"> -->
                          <button type="submit" [disabled] ='!forgotPasswordForm.valid'> Cambiar </button>
                      <!-- </div> -->
                  </div>
                  <br>
                  
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
      </div>
    </div>